<ion-content>
<div style="margin: 5%;" class="content">
<ion-row>
  <ion-col size="5">

    <img src="{{photo}}{{livre?.idLivre}}"
    style="padding: auto; width: 100%; height: 100%;  display:inline-flex;   margin-top: 5px; margin-bottom: 0%; border: solid 1px;">
  </ion-col>
  <ion-col size="7">

    <h6 ><b>{{livre?.titre}}</b></h6>
    <p ><b>Auteur :</b> {{livre?.auteur}}</p>
    <p style="font-size: 12px;" ><b>Format :</b> {{livre?.format}}</p>

    <p *ngIf="livre?.prix >0"  ><ion-badge color="primary" mode="ios">{{livre.prix | currency:" ":true:"1.0"}} fcfa</ion-badge></p>
    <p *ngIf="livre?.prix===0"   ><ion-badge color="primary" mode="ios">Gratuit</ion-badge></p>

      <span *ngIf="livre?.note >=1" >
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=2">
        <ion-icon name="star" class="rateIcon"  ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=3">
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=4">
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
      <span *ngIf="livre?.note >=5">
        <ion-icon name="star" class="rateIcon" ></ion-icon>
      </span>
    </ion-col>
   <a class="btn" (click)="showShareOptions(livre.idLivre)" style="padding: 5%;zoom: 1.2;"> <ion-icon name="share-social-outline"></ion-icon></a>
   <a (click)="rate(livre.idLivre)"  style="padding: 5%; zoom: 1.2;"> <ion-icon name="thumbs-up-outline"></ion-icon></a>
  </ion-row>
  <h2 style="text-align: left; margin-top: 6%;  font-weight: 400; font-size: 14px; "><b>Description : </b></h2>
  <hr color="#6A9BFF" width="20%" style="margin-inline-start: 2%; height: 3px;">

  <p > {{livre?.description}}</p>
    <ion-button class="but1" *ngIf="livre?.format==='AudioBook'" routerLink="/audiolecteur/{{livre?.idLivre}}">Lire </ion-button>
    <ion-button class="but1" *ngIf="livre?.format!=='AudioBook'" routerLink="/ebookvue/{{livre?.idLivre}}">Lire </ion-button>
    <ion-button class="but1" style="width: 90px; " *ngIf="livre?.prix <= 0" (click)="download()" >Télécharger</ion-button>
    <ion-button class="but1" *ngIf="livre?.prix > 0" (click)="choix(idLivre)" >Acheter</ion-button>
    <ion-button class="but1" (click)="close()">Retour</ion-button>
    <!-- <a href="" style="padding: 5%;"> <ion-icon name="share-social-outline"></ion-icon></a> -->
    <!-- <a (click)="rate(livre.idLivre)"  style="padding: 5%;"> <ion-icon name="add-circle-outline"></ion-icon></a> -->

  </div>

</ion-content>
