<ion-header>

</ion-header>
<ion-content  >



    <div style="width:auto; height:40%;background-color: #6a9bff; border-radius: 0px 0px 30px 30px; justify-content: center;">
       <img src="/assets/Images/Virtual_biblio2.png" style="width: 300px; height: auto;padding: 20%; margin: auto;">
    </div>
    <div class="form-section">
    <form action="" class="form" >
   <ion-item>
     <ion-input placeholder="Identifiant" name="identifiant" type="email" [(ngModel)]="identifiant">
      <ion-icon name="person-outline"></ion-icon>

    </ion-input>
  </ion-item>
    <ion-item>
      <ion-input placeholder="Mot de passe" name="password" type="password" [(ngModel)]="password">
      <ion-icon name="lock-closed-outline"></ion-icon>

    </ion-input>
   </ion-item>
   <div class="forgotDiv" >
     <ion-button fill="clear" routerLink="/forgot" class="ion-no-padding">Mot de passe oublié ?</ion-button>
    </div>
    <div class="logButton">
        <ion-button   (click)="login()" shape="round" class="but">Se connecter</ion-button>
    </div>

  <div class="ion-footer">
   <span>Vous n'avz pas de compte?</span> <button class="ion-no-padding" routerLink="/inscription" style="text-transform: initial;">Créer un compte</button>
  </div>
</form>
</div>
</ion-content>
