
ion-content {
   --ion-background-color: #ffffff;
}



.forgotDiv{
    width: auto;
    text-align: right;
    ion-button{
        font-size: 12px;
        text-transform: initial;
        text-align: right;
    }
}
.forgot{
    color: black; 
    font-size: 12px;
    text-decoration: none;
}
ion-item{
  //  --border-color:
    --highlight-color-focued:red;
    font-size: 12px;
ion-icon{
    padding-right: 10px;
    font-size: 18px;
}
ion-input:hover{
    color: #6a9bff;
}

}

.form-section{
    margin-top: 10%;
}
.contentButton{
    margin-top: 4px;
}
.logButton{
    text-align: center;
    .but{
        --ion-background-color:#6a9bff;

        text-transform: initial;
    }
}

.ion-footer{
    margin-top: 10%;
    span{
        padding: 3px;
        font-size: 12px;
        font-weight: 200px;
    }
    button{
        background-color:transparent;
        padding-left: 3px;
        font-size: 14px;
        font-weight: 600px;
        color:#6a9bff;
    }
}