ion-content{
    --ion-background-color:rgb(188, 200, 255);
  }
  .img_box {
    padding: 10px;
    background-color: #e4e4e43d;
}

#container {
    text-align: center;
    padding: 20px;
  }
  h2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 2px 0px;
  }
  ion-range {
    padding: 5px 5px;
    --bar-height: 3px;
  }
  p {
    color: #b7b6b6;
    font-size: 13px;
    margin: 0px;
    font-weight: 500;
  }
  .flex_box {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-button {
    height: 86px;
    min-height: max-content;
    margin: 0px 7px;
    font-size: 21px;
  }
.imgLivre{
  width: 100px;
  height: 100px;
}
