<ion-header>
  <ion-toolbar>
    <ion-title>audiolecteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img_box">
    <img src="../../assets/libre_audio.jpg">
  </div>

  <div id="container">
    <h2>Chapitre 3</h2>
    <ion-range min="0" max="100" value="40" mode="md" color="warning"></ion-range>
    <p>Temps restant: 13m 12s</p>
  </div>
  <div class="flex_box">
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="play-back"></ion-icon>
    </ion-button>
    <ion-button shape="round" color="light">
      <ion-icon slot="icon-only" name="pause"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="play-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
