
ion-title{
    text-align: center;
  }
  ion-content{
background-color: rgb(188, 200, 255);
      // overwrite inline styles
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
  // Slider Style START
  .custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;

    vertical-align: middle;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .prev-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
  }
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .next-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
  }

  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }

   ion-searchbar ion-icon {
    right: 16px !important;
    left: auto !important;

  }


  .scroller {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
}

.popoverCss{
  --max-height :10px:;
}
.ion-card{
  box-shadow: 10;
  box-shadow: 10px 5px 5px rgb(188, 200, 255);
  border: 1 solid;
  width: 100%;
  height: 150px;
  background-color: white;
  border: solid 1px;
  border-color: rgb(212, 212, 212);

}

.cat{
  font-size: 14px;
  font-weight: 600;
  margin-left: 4%;
}

.livreCard{
  // background-image: url('{{photo}}{{livre.idLivre}}');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.imgLivre{
  width: auto; height: 70%;
}
.livrePrix{
 text-align: center;
  margin-top: 10px;
  color: #000;
  font-weight: 400;
  font-size: 10px;
  .ion-badge{
    width: 90%;
    opacity: 0.9;
      color:#6A9BFF;
      font-size: 8px;
  }
}
