ion-title{
  text-align: center;
}
ion-content{
  --background: rgb(188, 200, 255);
}

.shadow-native {

  height: var(--height);
  transition: var(--transition);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  background: var(--background);
  box-shadow: var(--box-shadow);
  opacity: var(--opacity);

  line-height: 1;
  cursor: pointer;

}


.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}

.head{

  background-color: #000000 ;
  margin-top: 1%;
  //border-radius: 0px 0px 30px 30px;
}

.content{
  margin-top: 10%;
  background-color: rgb(188, 200, 255);

}
