ion-title{
  text-align: center;
}
ion-content{
  --background: white;
}
// Slider Style START 
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
      height: 100%;
  }
}

.slide-text{
  position: absolute;
  color: white;
  bottom: 30px;
}
ion-searchbar {
  --icon-color: var(--ion-color-primary);
  width: 60%;
  height: 4%;
  --background: white;
  --border-radius: 50px;
  color: black;
display: inline-block;
font-size: 30px;
  box-shadow:30px;;
}
 ion-searchbar ion-icon {
  right: 16px !important;
  left: auto !important;

}