  <ion-toolbar color='primary'>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-title>
    Virtual-Biblio
  </ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true" >




  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="../../assets/Images/ebook.jpg/">
            <span class="slide-text">Slide id {{s.id}}</span>
          </ion-slide>
        </ion-slides>

      </ion-col>

    </ion-row>
   
  </ion-grid>
  <div >
    <span style="color: #000; font-size: 14px;" ><span style="color: #4481FF;">&nbsp;&nbsp;>&nbsp;</span>Rechercher : </span>
    <ion-searchbar showCancelButton="never"></ion-searchbar>  
  </div>
  <div style="margin-top: 12%;" >
    <span style="color: #4481FF; font-size: 14px;" ><span style="color: #4481FF;">&nbsp;&nbsp;>&nbsp;</span>Explorer : </span>
  </div>
    <ion-grid >
      <ion-row class="u">
        <ion-col>
          <ion-card text-center  routerLink="/livre/Ebook" style="background-color: white;border: solid 1px;">
            <!--<ion-icon class="ion-img" name="people"></ion-icon> -->
            <ion-img src="../../assets/Images/ebook.png" style="width: 30px; display: block; justify-content: center; margin: auto; padding: auto; margin-top: 10px;"></ion-img>
            <h4  style="text-align: center; margin-top: 10px; color: #000; font-weight: 400; font-size: 14px; " >Ebook</h4>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card text-center  routerLink="/livre/Audio" style="background-color: white; border: solid 1px;">
            <!--<ion-icon class="ion-img" name="people"></ion-icon> -->
            <ion-img src="../../assets/Images/audiobook.png" style="width: 40px; display: block; justify-content: center; margin: auto; padding: auto; margin-top: 10px;"></ion-img>
            <h4  style="text-align: center; margin-top: 10px; color: #000; font-weight: 400; font-size: 14px; " >Audio Book</h4>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="d">
        <ion-col>
          <ion-card text-center  routerLink="/" style="background-color: white; border: solid 1px;">
            <!--<ion-icon class="ion-img" name="people"></ion-icon> -->
            <ion-img src="../../assets/Images/documents.png" style="width: 40px; display: block; justify-content: center; margin: auto; padding: auto; margin-top: 10px;"></ion-img>
            <h4  style="text-align: center; margin-top: 10px; color: #000; font-weight: 400; font-size: 14px; " >Documents</h4>
          </ion-card>
        </ion-col>
        <ion-col >
          <ion-card text-center  routerLink="/" style="background-color: white; border: solid 1px;">
            <!--<ion-icon class="ion-img" name="people"></ion-icon> -->
            <ion-img src="../../assets/Images/Librairie.png" style="width: 40px; display: block; justify-content: center; margin: auto; padding: auto; margin-top: 10px;"></ion-img>
            <h4  style="text-align: center; margin-top: 10px; color: #000; font-weight: 400; font-size: 14px; " >Librairie</h4>
          </ion-card>
        </ion-col>
      </ion-row>
     
     
    </ion-grid>
  </ion-content >
  